* {
  margin: 0;
  padding: 0;
}

html {
  background-image: radial-gradient(circle at center, #bf37ff, #4528dc);
}

@font-face {
  src: url("Eater\,JetBrains_Mono/jetbrains_mono/jetbrainsmono-variablefont_wght.ttf");
  font-family: "jetbrainsmono";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("Eater\,Inter\,JetBrains_Mono/inter/inter-variablefont_opsz,wght.ttf");
  font-family: "inter";
  font-weight: normal;
  font-style: normal;
}

img {
  width: 1rem;
  height: 1rem;
  filter: invert(1);
}

.container {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "dashboard header ."
    "dashboard main-section extras";
  gap: 15px;
  min-height: 100vh;
  background-image: radial-gradient(circle at center, #bf37ff, #4528dc);
}

.sidebar {
  text-align: left;
  width: auto;
  height: auto;
  font-family: "jetbrainsmono";
  grid-area: dashboard;
  padding: 2rem;
  background-image: linear-gradient(to right, #75188f, #75167a, #410a47);
  color: white;
}

.sidebar-middle-section h3 {
  margin-bottom: 1rem;
}

.sidebar-middle-section h3:last-of-type {
  margin-bottom: 3rem;
}

.sidebar-bottom-section h3 {
  margin-bottom: 1rem;
}

.sidebar > h2 {
  margin-bottom: 2rem;
}

.magnifying-glass {
  margin-right: 0.5rem;
  filter: invert(1);
  width: 1.5rem;
  height: 1rem;
}

.sasuke-icon {
  filter: invert(0);
  height: 2rem;
  width: 2rem;
}

.header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "search-bar profile-name"
    "profile-section interactive-nav";
  height: auto;
  width: auto;
  font-family: "inter";
  color: white;
  font-size: 1rem;
  white-space: nowrap;
  grid-area: header;
}

.header > h4 {
  font-size: 1.3rem;
  grid-area: profile-section;
  place-self: center;
}

.header form {
  grid-area: search-bar;
}

.header form input {
  width: 600px;
  height: 30px;
}

.header .search-form .search-input::placeholder {
  text-align: center;
}

.header .search-form .search-button {
  background: radial-gradient(circle, #fff720, #3cd500);
  border-color: yellow;
  color: purple;
  font-family: "inter";
  width: 100px;
  height: 50px;
  border-radius: 30px;
}

.search-button {
  margin-left: 10px;
}

.profile-name {
  place-self: center;
}

.header .profile-name h5 {
  grid-area: profile-name;
  font-size: 1rem;
}

.header .profile-name h5 img {
  width: 1.5rem;
  height: 1.5rem;
}

.header .header-buttons {
  grid-area: interactive-nav;
  place-self: center;
}

.header .header-buttons button {
  background: radial-gradient(circle, #fff720, #3cd500);
  border-color: yellow;
  color: purple;
  font-family: "inter";
  width: 100px;
  height: 50px;
  border-radius: 30px;
  margin: 15px;
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
}

.search-input {
  border-radius: 10px;
}

.main-section {
  display: grid;
  grid-area: main-section;
  grid-template-areas:
    "projects-title ."
    "projects extras"
    "projects extras";
  grid-template-columns: 1fr 350px;
  gap: 15px;
  height: auto;
}

.projects-title {
  grid-area: projects-title;
}

.projects-container {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.main-section > h4 {
  grid-area: projects;
}

.project-divs {
  border: 2px solid yellow;
  background: radial-gradient(circle, #fff720, #3cd500);
  border-radius: 10px;
  font-family: "inter";
  padding: 10px;
  width: 300px;
  height: 200px;
}

.extras {
  grid-area: extras;
  display: grid;
  grid-template-rows: auto auto;
  gap: 15px;
}

.announcements-container > h4 {
  font-size: 25px;
  color: white;
}

.announcements-section {
  background: radial-gradient(circle, #fff720, #3cd500);
  font-family: "inter";
  text-align: left;
  font-weight: normal;
  border: 2px solid yellow;
  min-height: 25vh;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, minmax(1rem, auto));
  grid-template-areas:
    "site-maintenance-section"
    "community-share-day-section"
    "updated-privacy-policy";
  margin-top: 1rem;
}

.announcements-section h4 {
  font-size: 13px;
}

.trending-container h4 {
  font-size: 25px;
  color: white;
}

.trending-section {
  background: radial-gradient(circle, #fff720, #3cd500);
  text-align: center;
  font-family: "inter";
  border: 2px solid yellow;
  min-height: 25vh;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(4, minmax(1rem, auto));
  grid-template-areas:
    "jake"
    "marcui"
    "paolo"
    "anthony";
  margin-top: 1rem;
}

.people {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
}

.trending-section div img {
  width: 2rem;
  height: 2rem;
}
